body { background: #f5f5f5; margin: 0px;}
table {
  background-repeat: repeat-x; background-image: url("/gs/v6/img_2.0/win_mt.jpg"); 
  font-size: 8pt ; color: #808080;  border: 0px; padding: 0px ;
}
table.topbar {font-family: Arial,helvetica; font-size: 8pt ; background: #216B90; font-weight: bold; color: white}
table.nullborder {
  background: transparent; 
  font-size: 8pt ; color: #808080;  border: 0px; padding: 0px ;
}
table.menu{
  background-repeat: repeat-x; background-image: url("/gs/v6/img_2.0/win_mt.jpg"); 
  font-size: 8pt ; color: #808080;  border: 0px; padding: 0px ;
}
table.frame {
  background-repeat: repeat-x; background-image: url("/gs/v6/img_2.0/win_mm.jpg"); 
  font-size: 8pt ; border: 0px; padding: 0px ;
}
td {font-family: Arial,helvetica; font-size: 8pt ; color: black}
td.topbar {font-family: Arial,helvetica; font-size: 8pt ; color: white; font-weight: normal}

input {font-family: Arial,helvetica; font-size: 7pt; }
input.sel {font-family: Arial,helvetica; color: #93D01C; font-weight: bold; font-size: 7pt; border: 1px solid black;}
acronym {decoration: none}
.hintff {
	border-width: 1px;
	border-style: none;
	border-color: #a0a0a0;
	text-align: left;
	background-repeat: no-repeat; background-image: url("/gs/v6/img_2.0/hint.jpg");
	font-family: Arial,helvetica; font-size: 10px ; color: black;
	position:absolute; 
	color: black; 
	left:-300px; top:-300px; 
	width: 182px; height: 118px; 
	padding: 10px;
	cursor:help; 
	z-index: 100
}
.hintie {
	border-width: 1px;
	border-style: none;
	border-color: #a0a0a0;
	text-align: left;
	background-repeat: no-repeat; background-image: url("/gs/v6/img_2.0/hint.jpg");
	font-family: Arial,helvetica; font-size: 10px ; color: black;
	position:absolute; 
	color: black; 
	
	left:-300px; top:-300px; 
	width: 202px; height: 132px; 
	padding: 10px 10px 10px 10px;
	cursor:help; 
	z-index: 100
}
a {text-decoration: none; font-family: Arial,helvetica; font-size: 8pt ; color: #216B90}
a:hover {text-decoration: none; font-family: Arial,helvetica; font-size: 8pt ; color:#ff6600; background: transparent}
a.tab {text-decoration: none; font-family: Arial,helvetica; font-size: 8pt ; background: transparent; color: #216B90}
a.tab:hover {text-decoration: none; font-family: Arial,helvetica; font-size: 8pt ; background: transparent; color: #ff6600}
a.menu {font-size: 8pt; display: block; text-decoration: none; font-family: Arial,helvetica; color: #215B80}
a.menu:hover {font-size: 8pt; display: block; text-decoration: none; font-family: Arial,helvetica; color: #ff6000}
a.menu2 {font-size: 8pt; display: block; text-decoration: none; font-family: Arial,helvetica; color: #215B80}
a.menu2:hover {font-size: 8pt; display: block; text-decoration: none; font-family: Arial,helvetica; color: #ff6000}

td.single { color: black; border: 0px none transparent; border-left: 0px none transparent}
td.tab { color: #216B90; border: 0px none transparent; border-left: 0px none transparent}
td.itab { font-size: 8pt; text-align: center; background: white; color: black; border: 0px none transparent; border-left: 0px none transparent}
td.transp { background: transparent; color: #216B90; border: 0px none transparent; border-left: 0px none transparent}
td.panel { font-size: 8pt; text-align: center; background: #719Bf0; color: white; border: 0px none transparent; border-left: 0px none transparent}
td.panel_rel { text-align: center; background: #FF8000; color: white; border: 0px none transparent; border-left: 0px none transparent}
td.panel_int { text-align: left; background: transparent; color: black; border: 0px none transparent; border-left: 0px none transparent}

td { color: black; border: 0px none transparent; border-left: 0px none transparent}
td.tabborder {
	padding: 2px;
	color: black; 
	font-family: Arial,helvetica;	font-size: 8pt;	font-style: normal;
	border-top-width: 0px;	border-right-width: 1px;	border-bottom-width: 1px;	border-left-width: 1px;
	border-top-style: none;	border-right-style: solid;	border-bottom-style: solid;	border-left-style: solid;
	border-top-color: #a0a0a0;	border-right-color: #a0a0a0;	border-bottom-color: #a0a0a0;	border-left-color: #a0a0a0;
	background: white;
}
