#g-top {
	margin: 0px;
	padding: 0px;
	background: transparent;	
}
#g-mid {
	margin: 0px;
	padding: 0px;
	background: transparent;	
}
#g-bottom {
	margin: 0px;
	padding: 0px;
	background: transparent;	
}
