<div id='g-body-bar-top'>{g-body-bar-top}</div>
<div id='g-body-container'>
<table>
	<tr>
		<td id='g-body-shadow-top-left'></td>
		<td id='g-body-shadow-top'></td>
		<td id='g-body-shadow-top-right'></td>
	</tr>
	<tbody>
		<tr>
			<td height="100%" id='g-body-shadow-left'></td>
			<td id='g-body'>{g-body}
				<div id='g-body-box'>{g-body-box}</div>
			</td>
			
			<td id='g-body-shadow-right'></td>
		</tr>
	</tbody>
	<tr>
		<td id='g-body-shadow-bottom-left'></td>
		<td id='g-body-shadow-bottom'></td>
		<td id='g-body-shadow-bottom-right'></td>
	</tr>
</table>
</div>
<div id='g-body-bar-bottom'>{g-body-bar-bottom}</div>
