
table {border-spacing: 0; margin: 0 0 0 0; padding: 0 0 0 0; border: 0 none}
#g-body-bar-top {background: none; display: block; text-align: right; width: 830px; margin: 0 auto; height: 20px; top: 6px; border: none}
#g-body-bar-bottom {background: none; display: block; text-align: center; width: 830px; margin: 0 auto; border: none}
#g-body-container {background: none; width: 850px; margin: 0 auto; border: none}

#g-body {background: white; width: 820px; border: none}

#g-body-shadow-left {padding: 0; empty-cell: show; display: block; background: url('../../img/bg/shadow-left.png') repeat-y right top transparent; margin: 0; width: 10px; border: none}
#g-body-shadow-right {padding: 0; empty-cell: show; display: block; background: url('../../img/bg/shadow-right.png') repeat-y left top transparent; margin: 0; width: 10px; border: none}

#g-body-shadow-top-left {padding: 0; background: url('../../img/bg/shadow-top-left.png') no-repeat right bottom transparent; margin: 0; height: 10px; width: 10px; border: none}
#g-body-shadow-top-right {padding: 0; background: url('../../img/bg/shadow-top-right.png') no-repeat left bottom transparent; margin: 0; height: 10px; width: 10px; border: none}
#g-body-shadow-top {padding: 0; background: url('../../img/bg/shadow-top.png') repeat-x left bottom transparent;  margin: 0; width: 830px; height: 10px; border: none}

#g-body-shadow-bottom-left {padding: 0; background: url('../../img/bg/shadow-bottom-left.png') no-repeat right top transparent; margin: 0; height: 10px; width: 10px; border: none}
#g-body-shadow-bottom-right {padding: 0; background: url('../../img/bg/shadow-bottom-right.png') no-repeat left top transparent; margin: 0; height: 10px; width: 10px; border: none}
#g-body-shadow-bottom {padding: 0; background: url('../../img/bg/shadow-bottom.png') repeat-x left top transparent;  margin: 0; width: 830px; height: 10px; border: none}

#g-top {
	margin: 0px;
	padding: 0px;
}
#g-mid {
	margin: 0px;
	padding: 0px;
}
#g-bottom {
	margin: 0px;
	padding: 0px;
}

#g-header {
	margin: 0px;
	padding: 0px;
	height: 20px;
}

#g-footer {
	margin: 0px;
	padding: 0px;
}
