# Ativa o módulo de reescrita de URL do Apache
RewriteEngine On

# Condição: Se o que foi solicitado NÃO é um arquivo existente
RewriteCond %{REQUEST_FILENAME} !-f

# Condição: E se o que foi solicitado NÃO é um diretório existente
RewriteCond %{REQUEST_FILENAME} !-d

# Regra: Redireciona todas as outras requisições para o index.php
RewriteRule ^ index.php [L]