[submodule "giusoft/src/Lib/sped-da"]
	path = giusoft/src/Lib/sped-da
	url = git@github.com:giusoft/sped-da.git

[submodule "giusoft/src/Lib/sped-common"]
	path = giusoft/src/Lib/sped-common
	url = git@github.com:giusoft/sped-common.git

[submodule "giusoft/src/Lib/sped-nfe"]
	path = giusoft/src/Lib/sped-nfe
	url = git@github.com:giusoft/sped-nfe.git

[submodule "giusoft/gfw"]
	path = giusoft/gfw
	url = git@github.com:giusoft/gfw.git