td {
	text-align: left;
	font-family:tahoma;
	font-size:11px;
	color:#7D8682;
	line-height:14px;
}
a {
	text-decoration: underline;
	color:#5D9ACC;
}

td.login {color:white; text-decoration:none;font-size:10px}
font.noticias {color:#5D9ACC; text-decoration:none;font-size:10px}
font.noticias_corpo {color:#7D8682; text-decoration:none;font-size:10px}
input.submit {font-size:8pt;}

body { 	margin:0px;padding:0px; background:url(images/bg.jpg)}

.copy{
font-family:tahoma;
color:#878988;
text-decoration:none;
font-size:11px;
line-height:14px;
}

.gray {color:#7D8682; text-decoration:none}
.blue {color:#5D9ACC; text-decoration:none}
.green {color:#93D01C; text-decoration:none; font-size:10px}


.white {color:#ffffff; text-decoration:none}
.dark {color:#000000; text-decoration:none}

.arial {font-family:arial; color:#FFFFFF}
.abs {vertical-align:middle}

.sm {font-size:10px}
.u {text-decoration:underline}
.t {text-transform:uppercase}
.big {font-size:12px}
.bigger {font-size:11px}

.form_search { width:100px;
		height:12pt;
		font-family:tahoma;
		font-size:10pt;
		border-style:solid;
		border-width:1px;
		border-color:#424B47;
		background-color:#ffffff;
		color:#7D8682;
		margin-left:0px;
		margin-right:0px}
		
.form { width:281px;
		height:17px;
		font-family:tahoma;
		font-size:10px;
		background-color:#ffffff;
		color:#7D8682;
		margin-left:0px;
		margin-right:0px}
		
.textarea {width:281px;
		height:93px;
		font-family:tahoma;
		font-size:10px;
		background-color:#ffffff;
		color:#7D8682;
		overflow:hidden;
		margin-left:0px;
		margin-right:0px;}

.rollover {scrollbar-face-color:#5B5D58;
		scrollbar-track-color:#E2E1DE;
		scrollbar-arrow-color:#E2E1DE;
		scrollbar-3Dlight-color:#E2E1DE;
		scrollbar-base-color:#E2E1DE;
		scrollbar-shadow-color:#E2E1DE;
		scrollbar-darkshadow-color:#E2E1DE;
		scrollbar-highlight-color:#E2E1DE;
		}


a:hover{text-decoration:none;}
.a:hover{text-decoration:underline;}




